<% provide(:title, 'About Us') %>
<div class="container">
	<h1><%= yield(:title) %></h1>
	<p>
	  This is a student project created by <a href="github.com/EricaAnseo/RubyAssignment">Erica Chai (20063209)</a>.  This web app allows users to seller their own products and buy items from other 
	  
	</p>
	<p>
	It builds upon the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>. Ruby on Rails Tutorial is a project to make a book and screencasts to teach web development with <a href="http://rubyonrails.org/">Ruby on Rails</a>.
	</p>
	<h4>Ruby Gems</h4>
	<ul>
		<li>
			gem 'faker', '1.6.6'
		</li>
		<li>    
			gem 'font-awesome-rails', '~> 4.7', '>= 4.7.0.1'
		</li>
		<li>    
			gem 'acts_as_votable', '~> 0.10.0'
		</li>
		<li>  
		    gem 'sunspot_rails', '~> 2.2', '>= 2.2.7'
		</li>
		<li>    
			gem 'will_paginate', '3.1.0'
		</li>
		<li>
			gem 'bootstrap-will_paginate', '0.0.10'
		</li>
		<li>    
			gem 'carrierwave', '~> 1.0'
	    </li>
		<li>
			gem 'mini_magick', '~> 4.3'
		</li>

	</ul>
</div>

