<% provide(:title, 'Home') %>
<div class="center">
  <h1>Welcome to Chai Store</h1>

  <h2>
    A secondhand shop for you to sell and buy items.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>   <!--  CHANGED LINE -->
</div>      

<%= link_to image_tag("default.png", alt: "Rails logo"),
            '#' %>