<% provide(:title, 'Terms and Condictions') %>
<div class="container">
	<h1><%= yield(:title) %></h1>
	<p>
		This is a student project.
	</p>	
	<p>
		Please do not add personal details when testing out this application.  
	</p>
</div>
