<li class="col-xs-12">
	<div class="row">
		<div class="col-xs-6">
			<h4 class="prod-name">
				<%= purchase.product.prodname %>
			</h4>
		</div>
		<div class="col-xs-3">
			<div class="purchase-amount">
				<%= purchase.amount %> 
			</div>
		</div>
		<div class="col-xs-3">
			<div class="purchase-price">
				<%= number_to_currency(purchase.product.price) %> 
			</div>
		</div>
	</div>
	<%= purchase.product.description %> 
	
	
</li>
