@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900');

  /* header */

  

  $pri_colour: #927192;

    header
    {
      background-color: $pri_colour;

      a, a:hover
      {
        color:#fff;
      }

    }

    .nav, .navbar-nav
    {
      float: right;

      @media (min-width: 768px)
      {
        li 
        {
          padding-bottom: 1px;
        }
      }

      li
      {
        float: left;

        a:hover, a:focus
        {
          background-color: transparent;
          opacity: 0.8;
          color: #eeeeee;
        }

      }

      .dropdown
      {
        position: relative;
        display: inline-block;

        a:focus
        {
          color: #ccc !important;
          background-color: transparent;
          opacity: 0.8;
        }

        .dropdown-menu 
        {
          li 
          {
            float: none;

            a 
            {
              color: #ccc;
            }
          }
        } 
      }

      .open 
      {
        a
        {
          background-color: transparent;
          border-color: transparent;
        }

        .dropdown-menu
          {
            li
            {
              a 
              {
                color: #888;
              }
            }
          }

        @media (max-width: 767px)
        {
          .dropdown-menu
          {
            position: absolute;
            background-color: #fff;
            margin-top: 9px;

            li
            {
              a 
              {
                padding-left: 10px;
                color: #888;
              }
            }
          }
        }
      }
    }

    #logo {
      font-family: 'Arima Madurai', cursive;
      float: left;
      margin-right: 10px;
      font-size: 1.7em;
      color: #fff;
      letter-spacing: -1px;
      padding-top: 12px;
      font-weight: bold;
    }

    #logo:hover {
      color: #fff;
      text-decoration: none;
    }

    /*

    nav 
    {
      .nav
      {
        text-align: right !important;

        li 
        {
          position: relative;
          display: inline-block !important;
        }
      }
    
    } */
