.product-item
{
	padding-bottom:15px;

	.prod-name
	{
		font-weight: 600;
	}
}

.product-button
{
	margin-top: 10px;
}

.product-delete, 
.product-update, 
.wishlist-remove
{
	margin-top: 10px;
}

.btn-wishlist
{
	width: 100%;
}

.prod-desc
{
	margin-top:5px;
	margin-bottom: 10px;
}

.purchase-amount,
.purchase-price
{
	margin-top:10px;
}

input[type=submit]
{
    margin-bottom: 10px;
}

.like-buttons
{
	//margin-top: 5px;
	font-size: 16px;

	.fa-thumbs-up
	{
		margin-left: 10px;
	}

	.fa-thumbs-down
	{
		margin-left: 10px;
	}

}

.profile
{
	.list-user
	{
		list-style: none;
	}

	.product-button
	{
		.btn-wishlist
		{
			margin-top: 10px;
		}
	}

	form
	{
		padding-top: 10px;
	}
}
