.product-item
{
	padding-bottom:15px;

	.prod-name
	{
		font-weight: 600;
	}
}

.product-button
{
	margin-top: 10px;
}

.product-delete
{
	margin-top: 10px;
}

input[type=submit]
{
    margin-bottom: 10px;
}