// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_feed
{
    -webkit-padding-start: 0px;
}

.users
{
	.list-user
	{
		list-style: none;
		//border-bottom: 1px #ccc solid;

		.list-user-name
		{	
			padding: 10px;	
		}

		.list-user-delete
		{

		}
		
		.list-user-profile
		{

		}

	}
}