<li class="col-xs-12">
	<h5><%= wishlist.product.prodname %></h5>
	Price: <%= number_to_currency(wishlist.product.price) %> 
	<%= link_to wishlist, method: :delete, data: { confirm: "Remove from your wishlist?" }, class: "wishlist-remove" do %>
		<i class="fa fa-times" aria-hidden="true"></i>
	<% end %>
</li>
